[submodule "Commons"]
	path = Commons
	url = https://github.com/atlanmod/Commons
[submodule "emfviews"]
	path = emfviews
	url = https://github.com/atlanmod/emfviews
[submodule "NeoEMF"]
	path = NeoEMF
	url = https://github.com/atlanmod/NeoEMF
